# JEKYLL - SITE SETTINGS

title: Claire Palandri
email:
description: >- # this means to ignore newlines until "baseurl:" This description will appear in your document head meta (for Google search results) and in your feed.xml site description.
github_username: username
minimal_mistakes_skin: default

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes

# Outputting
permalink: /:title/

include:
  - _pages

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-pdf-embed
  - jekyll-seo-tag

author:
  name   : "Claire Palandri"
  avatar : "/assets/images/IMG_4147.jpg"
  bio    : " " # short biography
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:clairepalandri@uchicago.edu"
    - label: "Google Scholar"
      icon: "fab fa-fw fa-google-scholar"
      url: "https://scholar.google.com/citations?hl=en&user=dRdxA8EAAAAJ&sortby=pubdate/"
    - label: "ORCID"
      icon: "fab fa-fw fa-orcid"
      url: "https://orcid.org/0000-0003-0279-8565/"
    - label: "Linkedin"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/claire-palandri-096bb286/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/clairepalandri"

footer:

defaults:
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
      toc: false

assets:
  js:
	- "assets/js/main.js"


# Exclude from processing:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/