---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes";

/* add any overriding/new CSS after the @import minimal-mistakes */

.inner {
  max-width: 80%;
}

html {
  font-size: 11px;

  @include breakpoint($medium) {
    font-size: 13px;
  }

  @include breakpoint($large) {
    font-size: 15px;
  }

  @include breakpoint($x-large) {
    font-size: 17px;
  }
}
